.slider {
  height: 28.37rem;
  width: 89.975rem;
  /* position: absolute;
  top: 314.44rem;
  left: 29.5rem; */
  .swiper-slide {
    width: 17.375rem !important;
    height: 28.375rem !important;
    object-fit: cover;
    overflow: hidden;
    margin-right: 0.62rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.slide2 {
  width: 96.5625rem !important;
  height: fit-content;
  .swiper-slide {
    width: 19.3125rem !important;
    height: 29.875rem !important;
    object-fit: cover;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 767px) {
  .slide2 {
    .swiper-slide {
      width: 61.06667rem !important;
      height: 91.73333rem !important;
      object-fit: cover;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.slide3 {
  height: 4.06rem;
  width: 17.82rem;
  .swiper-wrapper > * {
    opacity: 0.5;
  }
  .swiper-wrapper .swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-slide {
    width: 3.12rem !important;
    height: 4.06rem !important;
    object-fit: cover;
    overflow: hidden;
    margin-right: 0.44rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


/* 
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 767px) {
  .slide3 {
    width: 51.53335rem !important;
    height: 12.26667rem !important;
    .swiper-wrapper > * {
      opacity: 0.5;
    }
    .swiper-wrapper .swiper-slide-active {
      opacity: 1 !important;
    }
    .swiper-slide {
      width: 9.86667rem !important;
      height: 12.26667rem !important;
      object-fit: cover;
      overflow: hidden;
      margin-right: 0.44rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
} */
